@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */

@theme {
  --color-gray-dark: rgb(18 32 49);
  --color-dark: rgb(17 25 40);
  --color-dark-2: rgb(31 42 55);
  --color-dark-3: rgb(55 65 81);
  --color-dark-4: rgb(75 85 99);
  --color-dark-6: rgb(156 163 175);
  --color-gray-2: rgb(243 244 246);
  --color-stroke: rgb(230 235 241);
  --color-stroke-dark: rgb(39 48 62);
  --color-primary: rgb(87 80 241);
}

@layer utilities {
  .bg-gray-dark {
    background-color: var(--color-gray-dark);
  }
  .bg-dark-2 {
    background-color: var(--color-dark-2);
  }
  .bg-dark-3 {
    background-color: var(--color-dark-3);
  }
  .bg-gray-2 {
    background-color: var(--color-gray-2);
  }
  .bg-stroke {
    background-color: var(--color-stroke);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .custom-gradient-1 {
    background-image: linear-gradient(145deg, #eef 0%, #fff8fc 100%);
  }
  .border-stroke {
    border-color: var(--color-stroke);
  }
  .border-stroke-dark {
    border-color: val(--color-stroke-dark);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
  .text-dark {
    color: var(--color-dark);
  }
  .text-dark-4 {
    color: var(--color-dark-4);
  }
  .text-dark-6 {
    color: var(--color-dark-6);
  }

  .animate-line1 {
    animation: line 10s linear infinite;
  }

  @keyframes line-revert {
    0%,
    to {
      transform: translateY(100%);
    }

    50% {
      transform: translateY(0);
    }
  }

  .animate-line2 {
    animation: line-revert 8s linear infinite;
  }

  @keyframes line {
    0%,
    to {
      transform: translateY(0);
    }

    50% {
      transform: translateY(100%);
    }
  }

  .animate-line3 {
    animation: line 7s linear infinite;
  }

  @keyframes ping {
    75%,
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
}
